button {
  padding: 8px 12px;
  border: 1px solid #0000CD; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: 	#0000CD;
  color: white;
}

button:hover {
  opacity: 0.6;
}

form {
  display: flex;
  align-items: center;
  margin-left:10px;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 8px 12px; 
  margin: 0; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  width: 100%;
  max-width: 400px;
}


.title {
  font-size: 30px;
  margin-left: 10px;
  color:black;
}

.currentTodos {
  margin: 3px ;
  line-height: 30px;
  margin-left: 10px;
}

.completedTodos {
  color: #d3d3d3;
  margin: 3px ;
  line-height: 30px;
  margin-left: 10px;
}

.doneButton {
  margin-left: 20px;
  color: #778899;
  background-color: transparent;
  border: 1px solid #778899;
  height: 30px;
  padding: 5px 10px;
}

.doneButton:hover {
  background-color: #556b7f; 
  color: white; 
}

.editButton {
  margin-left: 10px;
  color: #778899;
  background-color: transparent;
  border: 1px solid #778899;
  height: 30px;
  padding: 5px 10px;
}

.editButton:hover {
  background-color: #556b7f; 
  color: white; 
}

.clearButton {
  margin-left: 20px;
  color: white;
  background-color: #b0c4de;
  border: 1px solid #778899;
  height: 30px;
  padding: 5px 10px;
}

.clearButton:hover {
  background-color: #556b7f; 
  color: white; 
}

.logins {
  display:flex;
  align-items:center;
  margin-left: 10px;
}

.sign {
  font-size: 15px;
  margin-left: 10px;
  color:black;
}

.greeting {
  font-size: 15px;
  margin-left: 10px;
  color:black;
}

.container {
  display: flex;
  align-items:center;
  margin: 5px 0px;
}

